/.vs/MCADEarthworm/v14/*.suo

bin/Debug

obj/Debug
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
releases
.vs/
/.vs
packages/
/MigrationBackup
